
.sidebar {
    width: 55px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-right: 1px solid #D3D3D3;
    background-color: #283149;
    padding-top: 60px;
    z-index: 9;
}
.menu_icons {
    display: flex;
    flex-direction: column;
    a {
        width: 100%;
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #525D76;
        &:hover {
            color: #DEDDEE;
            opacity: 1.0;
            &::before {
                content: '';
                opacity: 1;
            }
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
.settings_button {
    margin-top: auto;
    margin-bottom: 70px;
    color: #525D76;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        color: #DEDDEE;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}