body {
    margin: 0;
    padding: 0;
}
* {
    outline: none !important;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
button {
    background-color: transparent;
    border: none;
}

// -------- Fonts --------- //
@import url("https://fonts.googleapis.com/css?family=Arvo|Indie+Flower|Nunito");

// ------- Colors --------- //
$accent: #5088FF;
$main-dark: #2c3048;

// --------- Animation styles ------------ //
.slide-enter-active,
.slide-leave-active {
    transition: all .2s ease;
}

.slide-enter,
.slide-leave-to {
    margin-left: -300px;
}