// --------- Main styles ------------- //
.main-wrapper {
    display: flex;
    align-items: flex-start;
}
.component {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 50px;
}
.flash-message {
    position: fixed;
    right: 10px;
    top: 10px;
}
// ---------- Model for create new ... ----------- //
.modal-create {
    width: 300px;
    min-height: 250px;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: #fff;
    box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.20);
    z-index: 1;
    .wrap-modal-create {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 15px;
        box-sizing: border-box;
        input {
            padding: 10px;
            border-radius: 5px; 
            margin-bottom: 30px;
            border: 1px solid #ccc;
        }
        .modal-button {
            padding: 10px 15px;
            border-radius: 5px;
            color: #fff;
            background-color: $accent;
            box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.20);
            cursor: pointer;
        }
        .close-modal-create {
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 10px;
            cursor: pointer;
        }
    }
}
// -------------- Create new action ----------- //
.create-new-action {
    position: relative;
}
// ------------ Action item ------------- //
.action-item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    .action-item_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .timer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            color: #a73737;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .event-action {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        color: #fff;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.50);
        z-index: 1;
        .event-action_icon {
            width: 20px;
            height: 20px;
        }
    }
    .done-action {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $accent;
        border-radius: 100%;
        z-index: 1;
        .event-action_icon {
            width: 20px;
            height: 20px;
        }
    }
}

// --------- Create new Sprint ------------- //
.modal-create-sprint {
    position: fixed;
    height: 100vh;
    left: 55px;
    top: 0;
    z-index: 1;
    padding-top: 45px;
    box-sizing: border-box;
}
// ------------- Sprint ------------- //
.sprint {
    width: 100%;
    height: 100vh;
    position: relative;
    &-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h2 {
            margin-right: 10px;
        }
    }
    &-body {
        margin-top: 30px;
    }
    &-list {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .create-new-sprint {
        width: 45px;
        height: 45px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 100%;
        background-color: $accent;
        color: #fff;
        box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.20);
        svg {
            width: 15px;
            height: 15px;
        }
    }
    .interval-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.sprint-item {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    .remove-sprint {
        cursor: pointer;
        background-color: red;
        color: #fff;
    }
    .selected-days {
        display: flex;
        li {
            list-style: none;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 2px;
            margin: 0 5px;
        }
    }
}